<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Flask App</title>
    </head>
    <body>
        <h1>SQL의 데이터는 {{ resultSql }} 입니다</h1>
        <!-- 1) 니가 필요한만큼 버튼 개수 만들기 -->
        <div><a href="/hola1">테스트 파일 만들기</a></div>
        <div><a href="/hola2">데이터 출력하기</a></div>
        <div><a href="/hola3">데이터 출력하기</a></div>
        <form><a href="/hola3">데이터 출력하기</a>
            <input />
            <button>입력하기</button>
        </form>
        # 지피티한테 나 플라스크 사용하고 있고 index htaml에서  사용자 입력을 받은 후 그걸 app.py에서 전달받고 그 결과를 새로운 페이지에서 출력하고 싶어
        
    </body>
</html>
